@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
body {
  font-family: Arial, Helvetica, sans-serif !important;
}

/*New CSS*/
.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 80px 10px 80px !important;
  background-color: #f1f3ff !important;
}

.navbar-section{
  display: flex;
  justify-content: flex-end;
}

.hero-container{
  padding-top:20px;
  background-color: #F1F3FF;
}

.hero-content-section{
  padding: 50px 60px 0px 80px;
}

.hero-content-section h1{
  font-weight: 600;
}

.hero-content-section p{
  font-weight: 500;
}

.hero-image-section{
  padding: 0 !important;
}

.image-car{
  z-index: 1;
}

.search-card{
  background-color: white;
  min-height: 106px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  width: 95%;
  margin: 0 auto;
}

.search-card-section{
  position: absolute;
  margin-top: -50px !important;
  z-index: 99 !important;
  border-radius: 10px;
  min-height: 156px;
}

.search-card-form {
  padding: 0px 40px 0 40px;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 !important;
}

.input-form{
  width: 208px;
}

select.opt option:hover {
  /* box-shadow: 0 0 10px 100px #1882A8 inset; */
  background-color: red !important;
}

.button-submit-search{
  margin-top: 13px;
}

.display-car-section{
  margin-top: 50px;
  padding: 0px 40px 0 40px;
  margin-bottom: 50px;
}

[href="/why-us/"]{
  padding-left: 32px !important;
  padding-right: 32px !important;
}
[href="/testimonial/"], [href="/FAQ/"]{
  padding-right: 32px !important;
}

@media only screen and (max-width: 600px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .hero-content-section{
    padding: 20px 20px 0 20px;
  }

  .hero-image-section{
    margin-top: 20px;
  }

  .image-car{
    width: 98vw;
    float: right;
  }
}
.offcanvas {
  width: 50% !important;
}
/* End New CSS*/

img {
  max-width: 100%;
  height: 100%;
}
#mainNav ul {
}
#mainNav li:nth-child(2) {
  padding: 0 32px;
}
#mainNav li:nth-child(3) {
  padding: 0 32px 0 0;
}
@media screen and (min-width: 768px) {
  #navbar .container-fluid {
    padding: 0 85px 0 85px;
  }
  .navbar-nav {
    justify-content: end !important;
  }
}
.nav-link {
  font-size: 14px;
  color: #000;
}
.nav-link:hover {
  color: #0d28a6 !important;
}
.nav-link.active {
  color: #0d28a6 !important;
}

[id] {
  scroll-margin-top: 100px;
}

@media screen and (max-width: 767px) {
  .ofkanvas {
    width: 50% !important;
  }
  .btn-close-dark {
    margin-right: 20px !important;
  }

  #mainNav li {
    padding: 0 !important;
  }
  #mainNav ul {
    padding-left: 1rem !important;
  }
}

/* Hero */
#hero,
#navbar {
  background: #f1f3ff;
}
#hero .container-fluid {
  padding: 0 0 0 85px;
}
#hero {
  padding-top: 2.375rem;
  margin-top: 3rem;
}

.hero-title {
  font-size: 36px;
  font-weight: bold;
}
.hero-text {
  font-size: 14px;
  font-weight: bold;
  padding: 1rem 0;
}
.hero-btn {
  color: white;
  background: #5cb85f;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  border-radius: 2px;
  transition: all 0.1s linear;
}
@media screen and (max-width: 768px) {
  #hero .row > .col-md-6 {
    margin-bottom: 1.5rem;
  }
  #hero .container-fluid {
    padding: 0 1rem;
  }
}

/* Services */
#services {
  margin: 6.25rem 0;
}
#services .container {
  max-width: 64.188rem;
}
.services-detail {
  padding-top: 3.25rem;
}
.services-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 1.5rem;
}
.services-text {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 1rem;
}
.services-benefit {
  font-size: 14px;
  font-weight: bold;
}
#services li {
  padding-bottom: 1rem;
}
.services-image {
  padding-left: 2rem;
  padding-right: 5rem;
}
@media screen and (max-width: 768px) {
  #services {
    margin: 3.75rem 0;
  }
}

/* About */
.about-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.about-text {
  font-size: 14px;
  font-weight: bold;
}
#about .about-card {
  padding-top: 1.5rem;
}
#about .about-card .card {
  border-radius: 0.5rem;
}
#about .card img {
  max-width: 32px;
}
#about .about-card .card {
  padding: 24px;
  border-color: #D0D0D0;
  max-width: 20.5rem;
  transition: all 0.3s linear;
}
#about .card-title {
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: bold;
}
#about .card-text {
  font-size: 0.875rem;
  font-weight: bold;
}
/* #about .card:hover {
  background: #0d28a6;
  color: white;
} */
#about .about-card .card {
  transition: all 0.3s linear;
}
#about .about-card .card:hover {
  transform: scale(1.01);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
#about .about-card .col-md-3:nth-child(1) {
  transition-delay: 200ms;
}
#about .about-card .col-md-3:nth-child(2) {
  transition-delay: 400ms;
}
#about .about-card .col-md-3:nth-child(3) {
  transition-delay: 600ms;
}
#about .about-card .col-md-3:nth-child(4) {
  transition-delay: 800ms;
}
@media screen and (max-width: 768px) {
  #about .col-md-12 {
    text-align: center;
  }
  #about .about-card .col-md-3 {
    display: flex;
    justify-content: center;
    transition: all 0.1s linear;
  }
  #about .about-card .col-md-3:hover {
    transform: scale(1.05);
  }
  #about .about-card .col-md-3:nth-child(1) {
    margin-bottom: 1rem;
  }
  #about .about-card .col-md-3:nth-child(2) {
    margin-bottom: 1rem;
  }
  #about .about-card .col-md-3:nth-child(3) {
    margin-bottom: 1rem;
  }
}

/* Testimonial */
#testimonial {
  margin: 6.25rem 0;
}
.testimonial-title {
  font-size: 24px;
  font-weight: bold;
}
.testimonial-text {
  font-size: 14px;
  font-weight: bold;
}
.wrapper-testimonial {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
.wrapper-testimonial::-webkit-scrollbar {
  width: 0;
}
.testimonial-btn {
  margin-top: 1.5rem !important;
}
.testimonial-card {
  width: 619px;
  height: 270px;
  background: rgba(241, 243, 255, 1);
  box-sizing: border-box;
  border-radius: 8px;
}
.testimonial-card img {
  padding-left: 46px;
  padding-right: 46px;
}
.testimonial-card > img {
  max-width: 100%;
  height: auto;
}
.testimonial-content {
  /* padding-top: 69px;
  padding-bottom: 69px; */
  padding-right: 32px;
  font-size: 14px;
}
#testimonial .card {
  max-width: 619px;
  max-height: 270px;
  background: rgba(241, 243, 255, 1);
}
.testimonial-item {
  margin-right: 2rem !important;
}
.button {
  right: 597.5px !important;
}
.testimonial-btn img:nth-child(1) {
  margin-right: 0.7rem;
}
.testimonial-btn img:nth-child(2) {
  margin-left: 0.7rem;
  transform: rotate(180deg);
}
@media screen and (max-width: 576px) {
  .testimonial-card {
    width: 328px;
    height: 392px;
    display: block !important;
    text-align: center !important;
  }
  .testimonial-content {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  .testimonial-card img {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .testimonial-content img {
    margin-bottom: 1.5rem !important;
  }
  .testimonial-content-text {
    margin-bottom: 0.5rem !important;
    text-align: start !important;
  }
  .testimonial-content-name {
    margin-bottom: 2.5rem !important;
    text-align: start !important;
  }
  .testimonial-btn {
    margin-top: -1.5rem !important;
  }
}

/* Banner */
#banner {
  margin-bottom: 6.25rem;
}
#banner .col-md-12 {
  background: #0d28a6;
  border-radius: 13px;
  min-height: 20.375rem;
}
#banner h3 {
  margin-top: 4rem;
  font-weight: bold;
  font-size: 2.25rem;
}
#banner p {
  font-weight: bold;
  line-height: 20px;
  margin: 1rem auto 3.25rem;
}
.banner-btn {
  background: #5cb85f;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  color: white;
  margin-top: 3.25rem;
  border-radius: 2px;
  transition: all 0.1s linear;
}
.banner-btn:hover,
.hero-btn:hover {
  background: #408643;
}
@media screen and (min-width: 576px) {
  #banner .container .col-md-12 {
    height: 326px !important;
    width: 85% !important;
  }
  #banner .container .col-md-12 h3 {
    margin-bottom: 1rem !important;
    padding-left: 140px !important;
    padding-right: 140px !important;
    font-size: 2.25rem !important;
    line-height: 36px !important;
  }
  #banner .container .col-md-12 p {
    margin-bottom: 3.75rem !important;
    padding-left: 330px !important;
    padding-right: 330px !important;
    line-height: 20px !important;
    margin-right: auto;
    margin-left: auto;
    font-size: 0.875rem;
  }
  #banner .container .col-md-12 .banner-btn {
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 360px) {
  #banner .col-md-12 {
    width: 20.5rem !important;
    height: 26.25rem !important;
  }
  #banner .col-md-12 h3 {
    font-size: 24px !important;
    padding-left: 65px;
    padding-right: 65px;
  }
  #banner .col-md-12 p {
    font-size: 14px !important;
    padding-left: 60px;
    padding-right: 60px;
  }
}

/* FAQ */
#faq {
  margin-bottom: 9.375rem;
}
.faq-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.faq-text {
  /* width: 23rem; */
  font-size: 0.9rem;
}
.accordion button {
  font-weight: bold;
}
#accordionExample {
  margin-bottom: 1rem;
}
@media screen and (max-width: 767px) {
  #faq {
    margin-bottom: 3.75rem;
  }
  #faq .col-md-5 {
    text-align: center;
  }
  .faq-text {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Footer */
.list-unstyled li:nth-child(1) {
  margin-right: 1rem;
}
.list-unstyled li:nth-child(2) {
  margin-right: 1rem;
}
.list-unstyled li:nth-child(3) {
  margin-right: 1rem;
}
.list-unstyled li:nth-child(4) {
  margin-right: 1rem;
}

/*.hidden {*/
/*  opacity: 0;*/
/*  transition: all 2s;*/
/*  filter: blur(5px);*/
/*  transform: translateX(-100%);*/
/*}*/
/*.show {*/
/*  opacity: 1;*/
/*  filter: blur(0);*/
/*  transform: translateX(0);*/
/*}*/

/* Search HTML */
#formSewa .col-md-10 {
  width: 1047px;
  height: 106px;
  position: relative;
  background: #fff;
  margin: 0 auto;
  top: -45px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2) !important;
  border-radius: 8px;
}
#formSewa form {
  margin-top: 0 !important;
}
#formSewa label {
  color: #3c3c3c !important;
  font-family: "Rubik", sans-serif;
}
label,
input,
select {
  font-size: 12px !important;
}
.select {
  font-family: Arial, Helvetica, sans-serif;
}
#formSewa input,
#formSewa select {
  border-radius: 2px !important;
}
#formSewa .btn {
  background: #5cb85f;
  width: 92px;
  height: 30px;
  color: white;
  font-size: 14px;
  margin-top: 31px !important;
  border-width: 0;
  border-radius: 2px !important;
}
#formSewa .btn:hover {
  background: #408643;
}
.input-group {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  #formSewa {
    margin: 0;
  }
  #formSewa .row {
    margin-top: 2.5rem;
  }
  #formSewa .col-md-10 {
    position: static;
    height: auto;
    box-shadow: 0 0 0 0;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
  }
  form {
    display: block !important;
    background: #dbdfea;
    padding: 1rem;
    border-radius: 2px;
  }
  #formSewa .btn {
    margin-top: 5px !important;
  }
  #status {
    width: 100% !important;
  }
}

#formSewa input:focus {
  /*border: 1px solid #35b0a7 !important;*/
}
#formSewa select:focus {
  /*border-color: green !important;*/
}
#formSewa select:focus option {
  /*background: #c9e7ca !important;*/
  /*color: #5cb85f !important;*/
  font-weight: bold;
}
#status {
  width: 208px;
}

/* Result HTML */
.hero-result {
  height: 200px !important;
}
#formSewa .form-result input,
#formSewa .form-result select {
  border: 1px solid #222 !important;
  border-radius: 2px !important;
}

.btn-edit {
  border-color: #0d28a6 !important;
  color: #0d28a6 !important;
  border-radius: 2px;
  border-width: 1px !important;
  width: 51px !important;
  height: 36px !important;
  background: white !important;
}

#cardResult {
  margin-bottom: 283px;
}
#cardResult .card-type {
  font-size: 14px;
}
#cardResult .card-title {
  font-size: 16px;
  font-weight: bold;
}
#cardResult .card-text {
  font-size: 14px;
  font-weight: bold;
}
#cardResult .btn {
  background: #5cb85f !important;
  border: 0;
  border-radius: 0;
}
#cardResult .btn:hover {
  background: #408643 !important;
}
#cardResult .col-md-4 {
  width: 21rem;
  margin-bottom: 1rem !important;
}
#cardResult .col-md-4:nth-child(even) {
  margin: 0 1rem !important;
}
#cardResult .card {
  transition: all 0.3s linear;
}
#cardResult .card-result:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2) !important;
  transform: scale(1.02);
}
@media screen and (max-width: 768px) {
  .hero-result {
    height: auto !important;
  }
  #cardResult .col-md-4:nth-child(even) {
    margin-bottom: 1.5rem !important;
  }
  #cardResult .col-md-4 {
    margin-bottom: 1.5rem !important;
    display: flex;
    justify-content: center;
  }
  #cardResult {
    /*margin-bottom: 2rem;*/
  }
}

.detail-package {
  width: 605px !important;
  border: 1.5px solid #d9d9da !important;
  /* padding: 1.5rem auto 1.5rem 1.5rem !important; */
  padding-top: 1.5rem !important;
  padding-left: 1.5rem !important;
  border-radius: 0.5rem;
}
.detail-package li {
  margin-bottom: 0.3rem;
}
.car-detail {
  width: 405px!important;
}
#cardDetail .card{
  border: 1.5px solid #d9d9da !important;
}
#cardDetail .row {
width: 1047px; margin-left: auto; margin-right: auto
}
@media screen and (max-width: 768px) {
  .detail-package {
    width: auto !important;
    margin-bottom: 1rem !important;
    padding-top: 0.1rem !important;
    padding-left: 0.1rem !important;
  }
  #cardDetail .car-detail {
    margin-top: 1.5rem !important;
    display: flex !important;
    width: auto !important;
  }
  #cardDetail .row {
    width: auto;
    margin-left: auto;
    margin-right: auto
  }
}